* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#main {

} 

#header {
    height: 46px;
    background-color: black;
} 

#nav > li {
    display: inline-block;
}

#nav > li > a,
#nav .subnav a {
    color: white;
    text-decoration: none;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    background-color: #ccc;
    color: black;
}

#nav .subnav {
    list-style-type: none;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav li a {
    padding: 0 24px;
    line-height: 46px;
    display: block;
}

#nav li {
    position: relative;
}

#nav .subnav {
    position: absolute;
    background-color: white;
    box-shadow: 0 0  10px #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
}

#nav .subnav li {
    display: block;
}

#nav .subnav a {
    line-height: 22px;
    padding: 8px 16px;
}

#nav .subnav a {
    color: black;
}

#slider {
    /* min-height: 500px;
    background-color: yellow; */
} 

#contain {

} 

#footer {

} 
